
body{
     margin-top: 0;
   margin-bottom: 30px;
   background-image: url(../images/home_surveyor_bg.png);
  background-repeat: no-repeat;
  background-position: center top;
}

.navbar_menu{


}

.navbar-default {
    background: transparent;
    border-color: transparent;
    
    
}
.menu{
    border-radius: 0;
  margin-bottom: 0;

  

}

.menu a{
  color: #fff;
  background-color: #FF5A00;
  font-size: 28px;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 15px;
   text-decoration: none;


}
.menu  sup{
font-size: 10px;
  top: -16px;
color: #fff;
}
  

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
     background:#03084C; 
    
}
.navbar-default .navbar-nav>li{

  border-left: .05px solid #A8D2F5;
  
  
}

.navbar-default .navbar-nav>li>a {
  color: #868686;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-right:20px;


   
}
.navbar-right {
  float: right !important;
  margin-right: 1px;

}

.navbar-nav > li > a {
  

}

  .navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:focus{
    color: #cecece;
    background-color: #3a3f74;
    text-align: center;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 0px 0;
    margin: 2px -1px 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown:hover .dropdown-menu{
	display: block;

}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus,.navbar-default .navbar-nav >  a {
    color: #ff5a00;
    background-color: #03084C;
    text-transform: capitalize;
    font-size: 18px;
}

.slider-section{
padding-top: 50px;


}

.slider{
 
  position: relative;

  border-left: .5px solid #A8D2F5;
   border-right: .5px solid #A8D2F5;

}

.slider-img{
    
    background-size: cover;
  background-repeat: no-repeat;

 }


.slider-content{
    position: absolute;
    top:45%;
   left: 30%;
  
    transform: translate(-45%,-30%);
    -webkit-transform: translate(-45%,-30%);
    -moz-transform: translate(-45%,-30%);   
}
.slider-content h1{
   
       max-width: 400px;
    font-size: 46px;
    color: #fff;
    font-weight: 700;
    margin: 0 auto;
  
    line-height:60px;
    text-align: right;


    }

.slider-content p{
    max-width: 400px;
    color: #858586;
    font-size: 12PX;
    padding-right: 15px;
    margin-right: 10px;
    line-height: 25px;

 }

.about-section{
  



}
.about{
  position: relative;
  
  border-bottom: 1px solid #A8D2F5;
  border-left: 1px solid #A8D2F5;
  border-right: 1px solid #A8D2F5;
 
}



.about-content{
  position: absolute;
   border-right:.1px solid #A8D2F5;
  
  }

  
.about-content h2{
padding-top: 50px;
 color: #FF5A00;
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  margin-left: 50px;
  margin-top: 20px;
  text-align: left;
  padding-bottom: 20px;
 

}
.about-content a img{
  margin-left: 12%;

}
.highlight {
    color: white;
    padding: 0 5px;
    background: #FF5A00;
    border-radius: 3px;
}

.about-content.bottom-img{
position: absolute;
  opacity: 50%;
  top: 320px;
  bottom: 0;
  right: 0;

}

.bottom-img img{
 
  width: 190px;
  float: right;
 }
.about_right {
   
    display: block;
    padding-top: 90px;
    background:#fff;
    padding-left: 20px;

}
.about_right h4 {
  font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0px;
    color: #2f4bc3;
  
    margin-bottom: 5px;
    margin-top: 10px;

   

}
.about_right span img {
  padding-bottom: 10px;

}




.about_right  p{
    
    
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 20px;

}
.about_right p  a{
   
    font-size: 13px;
    letter-spacing: 0px;
    text-decoration: none;
    color: #d14a00;
}
.heading {

margin-bottom: 48px;
}
.heading h1 {
  color: #ff5a00;
  
}
.heading p{
  color: #b5b5b5;
  font-size: 16px;
  max-width: 800px;
  margin:0 auto;
  
}
.measurement{
  padding-bottom: 32px;
  background-color: #fff;
  border-left: 1px solid #7abef7;
  border-right: 1px solid #7abef7;

  
}


.measurement-items{
  padding: 15px 0;
  margin: 10px 0;
}


.measurement-text h4{
 color: #ff5a00;
  font-weight: bold;
  padding-bottom: 5px;
}
.measurement-text p{
  color: #848383;
  font-size: 11px;
  
}

.btn-custom {
    background-color: #2C46B6;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 3PX;
    border-radius: 5px;
    padding: 10px 25px;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;

}

.btn-custom:hover{
  background-color: #F65700;
  color: #fff;
}



.certificate{
  background-color: #F65700;
   border-bottom: 1px solid #A8D2F5;
  border-left: 1px solid #A8D2F5;
  border-right: 1px solid #A8D2F5;
}
.cetificate-icon{
 
 max-width:100%;
}
.certificate-text{
  color: #fff;
  padding: 60px 60px;
}
.certificate-text h2{
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 25px;
}
.certificate-text p{
  font-size: 12px;
  line-height: 20px;
  padding-bottom: 25px;

}
.btn-white {
    background-color: #fff;
    color: #555;
    padding: 10px 30px;
    margin-right: 20px;
    font-size: 12px;
    letter-spacing: 1px;
      margin-top: 7px;
    border-radius: 5px;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
}
.btn-white:hover{
  background-color:#2C46B6;
  color: #fff;
}
.man-ph{
  max-width: 70%;
  margin: 0 auto;

}



.link{
    border-left: .1px solid #A8D2F5;
    border-right: .1px solid #A8D2F5;
   
}

.navigation {
    background: #2f4bc3;
       
}
.navigation > ul{
     margin: 0;
    padding: 0;
    text-align: left;

}
.navigation > ul > li{
    list-style: none;
    display: inline-block;
    padding: 40px 24px;
    transition: all .4s;
}
.navigation > ul > li > a{
padding:5px;
}
.navigation > ul > li:hover{
    background: #5373D2;
}
.navigation > ul > li > a > img{
    max-width: 100%;
}



.footer{
 background-color: #03084C;
  padding: 70px ;
  border-bottom: .1px solid #fff;
  border-left: .1px solid #A8D2F5;
    border-right: .1px solid #A8D2F5;
   
}
.footer-content{
  padding: 0;

}

.footer-content h1{
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;


}
.footer-content h5{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 5px;
  text-transform: capitalize;

}.footer-content h6{
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 10px;
  line-height: 20px;

}


.footer-content h1 sup{
  font-size: 12px;
  top: -15px;
}


.footer-content p{
  color: #fff;
  font-size: 12px;
   color: #9A9A9A;
  
}



.footer-content p a{
  color: #fff;
  text-decoration: none;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
}
.footer-content p a:hover{
  color: #F65700;
  text-decoration: underline;
}

.footer-content ul li a{
  color: #fff;
  font-size: 11px;
  text-decoration: none;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
}
.footer-content ul li a:hover{
  color: #F65700;
  text-decoration: underline;
}

.footer_bottom{

  background-color: #03084C;
  padding: 32px 0;
}
.footer_bottom p{
  color: #fff;
  font-size: 12px;

  margin:0 auto;

}
.footer_bottom p a{
  text-decoration: none;
  color: #fff;

  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;

}
.footer_bottom p a:hover{
  color: #FF5A00;
  text-decoration: underline;
}